@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --azul   : #00507D;
    --celeste: #00C7DC;
    --morado : #7B0068;
    --verde  : #6DC72A;
    --bg-celeste  : #d0e7f5c4;
    --tamanioletras :16px;
}

body {
    font-family: 'Righteous', cursive;
    margin     : 0;
    padding    : 0;
}

.titulo-principal {
    margin-top : 2vh;
    font-size  : 80px;
    font-weight: 600;
    font-family:'Righteous', cursive; ;
}

article,
section {
    margin-top: 6em !important;

    margin-bottom: 3em !important;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--tamanioletras);
    line-height: 30px;
}

.text-morado {
    color: var(--morado);
}

.text-azul {
    color: var(--azul);
}
.text-celeste {
    color: var(--celeste);
}

.text-verde {
    color: var(--verde);
}

.pic-wrapper {
    position: relative;
    width   : 100%;
    height  : 70vh;
    overflow: hidden;
}

figure {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    opacity  : 0;
    /*animation*/
    animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
    opacity        : 1;
    background     : url('ImágenesDiseñoexperimental/T--Bolivia--experimentaldesign_banner.jpg') no-repeat center center;
    background-size: cover;
}

.pic-2 {
    animation-delay: 6s;
    background     : url('ImágenesDiseñoexperimental/T--Bolivia--experimentaldesign_banner.jpg') no-repeat center center;
    background-size: cover;
}

.pic-3 {
    animation-delay: 12s;
    background     : url('ImágenesDiseñoexperimental/T--Bolivia--experimentaldesign_banner.jpg') no-repeat center center;
    background-size: cover;
}

.pic-4 {
    animation-delay: 18s;
    background     : url('ImágenesDiseñoexperimental/T--Bolivia--experimentaldesign_banner.jpg') no-repeat center center;
    background-size: cover;
}


/* keyframes*/

@keyframes slideShow {
    0% {
        opacity  : 0;
        transform: scale(1);
    }

    5% {
        opacity: 1
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity  : 0;
        transform: scale(1.1);
    }

    100% {
        opacity  : 0;
        transform: scale(1);
    }
}

.fondo-banner {
    width           : 100vw;
    height          : 100%;
    background-image: linear-gradient(to right, var(--azul), var(--celeste));
    opacity         : 0.4;
    position        : absolute;
    padding-bottom  : 100px;
}

.text-banner {
    width         : 100vw;
    height        : 100%;
    padding-bottom: 13vh;
    position      : relative;
    display: flex;
    align-items: end;
}

.fila-banner {
    padding-left: 10vw;
    z-index     : 10;

}

.logo-arsenito {
    margin-left: 20px;
    width: 20%;
    position: absolute;
    /* height: 100px; */
    right: 5%;
    bottom: -20px
}

.title-small {
    color      : var(--celeste);
    font-weight: 600;
}

.team {
    display        : flex;
    align-items    : end;
    justify-content: start;
}


/* Pantalla abajo de los 750 pixeles */

@media(max-width: 767px) {
    .text-banner {
        width          : 100vw;
        height         : 70%;
        display        : flex;
        justify-content: center;
        align-items    : end;
        margin-left    : 0;
        padding-bottom : 0;
    }

    .titulo-principal {
        margin-top : 2vh;
        font-size  : 50px;
        font-weight: 400;
        color      : white;
    }

    .team {
        display        : flex;
        align-items    : end;
        justify-content: center;
    }

    .text-video {
        background-color: var(--azul);
        width           : 100%;
        min-height      : 34vh;
        padding         : 56px;
    }

    .nav-item {
        margin-left: 30px;
        font-size  : 18px;
    }
}

.nav-item {
    margin-left: 80px;
    font-size  : 18px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--celeste) !important;
}

#nav {
    background-color: transparent !important;
}



.my-nav {
    background-image: linear-gradient(to right,var(--azul), var(--celeste));
    opacity         : 0.9;
    transition      : .3s ease-in-out;
}

.hover-nav{
    position: relative;
}
.nav-item:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
    left: 0px;
    bottom: 0px;
}

.nav-item:hover:after {
    opacity: 1;
    width: 100%;
}

/* HASTA AQUI ES EL BANNER Y NAVBAR */





/* MENU LATERAL ICONOs */

.menulateral {
    margin-left: 10px;
    position: sticky;
    top: 200px;
    border-right: 5px solid;
    border-color: var(--azul);
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
    width: 250px;
}


.box-icon{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    text-decoration: none;
    color: black;
}   
.box-icon:hover{
    color: var(--azul);
}

.diviconMenu{
    border: 2px solid var(--celeste);
    border-style: dashed; border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right:20px ;
    padding: 10px;
    border-radius: 50%;    
}

.iconMenu{
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}

.text-menu{
    text-transform: uppercase;
    cursor: pointer;
}

/* seleccion de menu  */

.box-icon-select{
    color: var(--celeste);
}




.lista>li{
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    line-height: 50px;
}


/* PARALLAX seccion result*/
.parallax {
    margin-top      : 50px;
    margin-bottom      : 50px;
    background-image: url("https://2021.igem.org/wiki/images/3/3e/T--Bolivia--espectedresults_banner.jpg");
    min-height           : 300px;
    background-attachment: fixed;
    background-position  : center;   
    background-repeat    : no-repeat;
    background-size      : contain;
    width: 100%;
}
.parallax2 {
    margin-top      : 50px;
    margin-bottom      : 50px;
    background-image: url("https://2021.igem.org/wiki/images/7/77/T--Bolivia--contributions_bannerParts.jpg");
    min-height           : 300px;
    background-attachment: fixed;
    background-position  : center;   
    background-repeat    : no-repeat;
    background-size      : contain;
    width: 100%;
}

.bg-title{
    min-height           : 300px;
    width: 64.8%;
    background-image: radial-gradient(#00c6dca4, transparent);
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:425px){
    .bg-title{
        min-height           : 300px;
        width: 94%;
        background-image: linear-gradient(270deg, #00c6dc4d, transparent);
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.bg-azul{
    background-image: linear-gradient(270deg, var(--bg-celeste), transparent);
    padding-top:30px ;
    padding-bottom:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.bg-morado{
    background-image: linear-gradient(270deg, #7b00682d, rgba(255, 255, 255, 0.445));
    padding-top:30px ;
    padding-bottom:30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.cardFigure{
    background-color:#00507d1f ;
    padding: 10px;
}
.click-img{
    cursor: pointer;
}

.click-img:hover{
    transform: scale(1.05);
    transition: .3s;
   
}

.lista >div>a{
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;;
}
.lista >div>a:hover{
    color: var(--azul);
}



/* Boton descarga */


a:hover {
    text-decoration: none !important;
}

.dedcription-btn {
    text-decoration : none;
    width           : 100%;
    position        : relative;
    display         : inline-block;
    border-radius   : 30px;
    background-color: #fcfcfc;
    color           : var(--azul);
    text-align      : center;

    padding      : 9px 0;
    transition   : all 0.3s;
    padding-right: 40px;
    margin       : 20px 5px;
    box-shadow   : 0 3px 20px 0 rgba(0, 0, 0, 0.116);
}

.dedcription-btn .btn-icon {
    width        : 92px;
    height       : 45px;
    float        : right;
    position     : absolute;
    border-radius: 30px 30px 30px 0;
    ;
    right     : 0px;
    top       : 0px;
    transition: all 0.3s;
}

.name-descripeion {
    position: relative;
    z-index : 9999;
}

.btn-icon::after {
    content     : "";
    width       : 0;
    height      : 0;
    border-top  : 45px solid #fcfcfc;
    border-right: 40px solid transparent;
    position    : absolute;
    top         : 0px;
    left        : 0px;
}

.dedcription-btn:hover .btn-icon {
    width        : 100%;
    border-radius: 30px;
}

.dedcription-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
}

.btn-icon i {
    position: absolute;
    right   : 25px;
    top     : 15px;
    color   : #fff;
}

.dedcription-btn:hover {
    color: #fff !important;
}

.descarga {
    background-color: var(--celeste) !important;
}

.hover-box {
    display        : flex;
    width          : 100%;
    height         : 100vh;
    justify-content: center;
    align-items    : center;
}

.boton {
    width: 100%;
}